* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color: white;
}

body {
  background: linear-gradient(135deg, #000000, #1a1a1a, #2c2c2c);
}
.main {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.form {
  border: 2px solid black;
  height: 500px;
  width: 452px;
  border-radius: 60px;
  transform: scale(1.009);
  transition: all ease 0.1s;
  /* box-shadow: inset 4px 4px 5px white,4px 4px 5px white; */
  overflow: hidden;
}
.form:hover {
  transform: scale(1);
}
.inputbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 33px;
  height: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}
.input {
  width: 300px;
  height: 40px;
  text-align: center;
  background: none;
  border: none;
  outline: none;
  position: relative;
  font-size: 20px;
  border-bottom: 2px solid var(--color);
  color: var(--color);
  cursor: pointer;
}

.input::placeholder {
  color: var(--color);
}
/* button */

.login {
  width: 120px;
  height: 40px;
  margin-top: 50px;
  border-radius: 33px;
  cursor: pointer;
  border: none;
  background-color: #000000;
  color: black; 
  position: relative;
  overflow: hidden;
  transition: all ease 0.5s; 
  z-index: 1;
}

.login:hover {
  color: white; 
}

.login::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: white;
  top: 0;
  left: 0;
  transition: all ease 0.5s;
  z-index: -1;
  transform: translateX(0); 
}

.login:hover::after {
  transform: translateX(-100%); 
}

.login::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: white;
  top: 0;
  right: 0;
  transition: all ease 0.5s;
  z-index: -1; 
  transform: translateX(0); 
}

.login:hover::before {
  transform: translateX(100%); 
}
/* .search{
 width: 100px;
  height: 35px;
  margin-top: 50px;
  border-radius: 33px;

 
}
.search img{
    width: 100%;
} */
